<div class="col-lg-12">
           {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}

                        {% for message in messages %}
                            {% if "Найден" in message[1]: %}
                                <div class="alert alert-info">
                                    <strong> </strong> {{ message[1] }}
                                </div>
                            {% endif %}

                            {% if "Ошибка" in message[1]: %}
                                <div class="alert alert-warning">
                                    {{ message[1] }}
                                </div>
                            {% endif %}

                            {% if "Длина" in message[1]: %}
                                <div class="alert alert-warning">
                                    {{ message[1] }}
                                </div>
                            {% endif %}

                            {% if "Ничего" in message[1]: %}
                                <div class="alert alert-warning">
                                    {{ message[1] }}
                                </div>
                            {% endif %}

                            {% if "Только" in message[1]: %}
                                <div class="alert alert-warning">
                                    {{ message[1] }}
                                </div>
                            {% endif %}

                            {% if "Где-то" in message[1]: %}
                                <div class="alert alert-warning">
                                    {{ message[1] }}
                                </div>
                            {% endif %}
                        {% endfor %}
                            {% endif %}
                        {% endwith %}
</div>