<!--#footer-->
<footer>
            <h3>Дополнительные ресурсы</h3>
            <ul class="list-inline">
                <li><a href="http://172.20.0.2//">Внутренний сайт</a></li>
                <li><a href="http://172.20.0.1:81/">Телефонный справочник</a></li>
                <li><a href="http://172.20.0.2:8091">График поставок</a> </li>
                <li><a href="http://172.20.0.85:88/Task">Intraservice</a></li>

            </ul>
            <p class="copyright">Copyright © 2017 <a href="http://oma.by" target="_blank">OMA.BY</a>. All Rights Reserved.</p>
</footer>
